.user-card {
  padding: 20px;
  margin-bottom: 15px;
  border: 1px solid #5c5470;
  overflow-wrap: break-word;
  flex: 1 1 auto;
}

mat-card-header {
  display: flex; /* Это уже установлено по умолчанию, но удостоверьтесь в его наличии */
  justify-content: center; /* Выравнивает содержимое по центру */
  flex-direction: column; /* Ориентирует заголовок и подзаголовок вертикально */
}

mat-card-title {
  text-align: center;
  margin-bottom: 20px;
}

mat-card-subtitle {
  text-align: justify;
  word-break: break-all;
  margin-bottom: 5px;
}


mat-card-content p {
    text-align: justify;
    word-break: break-all;
    margin-bottom: 5px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
